html,
body {
  height: 100%;
}
main > .container {
    padding: 60px 15px 0;
}
.container {
  width: auto;
  max-width: 800px;
  padding: 0 15px;
}

#masthead {
  background: url("../assets/bg_masthead_512.jpg") no-repeat center center;
  background-size: auto;
  background-size: cover;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}
.form-signin .form-floating:focus-within {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}